{% extends 'base.html' %}
{% block head_title %}
    Отчет о применении промокода
{% endblock %}
{% block content %}
    {% if successfully %}
        <h1>Успешное применение промокода</h1>
        <p>Вы успешно применили промокод, поздравляем!</p>
    {% else %}
        <h1>При применении промокода произошла ошибка</h1>
        <br>
        {% if reason == "key_does_not_exist_error" %}
            <b>Ошибка {{ reason }}: Указанный промокод не существует.</b>
            <br>
            <p>Укажите в поле для промокода корректный код и попробуйте отправить запрос еще раз.</p>
        {% elif reason == "incorrect_request_error" %}
            <b>Ошибка {{ reason }}: Некорректный запрос.</b>
            <br>
            <p>Заполните поле формы и попробуйте отправить перевод еще раз.</p>
        {% elif reason == "key_already_applied_error" %}
            <b>Ошибка {{ reason }}: Указанный промокод уже применен.</b>
            <br>
            <p>Этот промокод уже был применен Вами или другим пользователем.</p>
        {% else %}
            <b>Ошибка unknown_error: Неизвестная ошибка.</b>
            <br>
            <p>К сожалению сразу помочь Вам не удасться. Попробуйте повторить все сначала. Если это не поможет,
                попробуйте снова через некоторое время.</p>
        {% endif %}
        <br>
    {% endif %}
    <a href="{% url 'wallets' %}">На главную.</a>
{% endblock %}