{% extends 'base.html' %}
{% block head_title %}
    Отчет о переводе
{% endblock %}
{% block content %}
    {% if successfully %}
        <h1>Успешный перевод</h1>
        <p>Вы успешно перевели HEXYZ другому пользователю, поздравляем!</p>
    {% else %}
        <h1>При переводе произошла ошибка</h1>
        <br>
        {% if reason == "receiver_does_not_exist_error" %}
            <b>Ошибка {{ reason }}: Указанный пользователь не существует.</b>
            <br>
            <p>Укажите в поле для адресата перевода корректный ID и попробуйте отправить перевод еще раз. Не
                беспокойтесь, Ваши деньги еще не списались.</p>
        {% elif reason == "low_balance_error" %}
            <b>Ошибка {{ reason }}: Сумма перевода превышает баланс.</b>
            <br>
            <p>Укажите в поле для суммы перевода сумму не превышающую Ваш баланс и попробуйте отправить перевод еще раз.
                Не беспокойтесь, Ваши деньги еще не списались.</p>
        {% elif reason == "incorrect_request_error" %}
            <b>Ошибка {{ reason }}: Некорректный запрос.</b>
            <br>
            <p>Заполните все поля формы и попробуйте отправить перевод еще раз. Не беспокойтесь, Ваши деньги еще не
                списались.</p>
        {% else %}
            <b>Ошибка unknown_error: Неизвестная ошибка.</b>
            <br>
            <p>К сожалению сразу помочь Вам не удасться. Попробуйте повторить перевод сначала. Если это не поможет,
                попробуйте снова через некоторое время.</p>
        {% endif %}
        <br>
    {% endif %}
    <a href="{% url 'wallets' %}">На главную.</a>
{% endblock %}