{% extends 'base.html' %}
{% block content %}
    <table>
        <tr>
            <th>
                ID
            </th>
            <th>
                Login
            </th>
            <th>
                Name
            </th>
            <th>
                Balance
            </th>
        </tr>
        {% for user in user_list %}
            <tr>
                <td>
                    {{ user.id }}
                </td>
                <td>
                    {{ user.login }}
                </td>
                <td>
                    {{ user.name }}
                </td>
                <td>
                    {{ user.balance }}
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock content %}