{% extends 'base.html' %}
{% block head_title %}
    Список пользователей
{% endblock head_title %}
{% block sidetext %}
    {% if user.is_authenticated %}
        <h2>Привет, {{ user.username }}!</h2>
        <div class="textboxrighttext">
            {% for wallet in wallet_list %}
                {% if wallet.user.username == user.username %}
                    <h1>Информация об аккаунте:</h1>
                    <ul>
                        <li>Имя пользователя: <b>{{ wallet.user.username }}</b></li>
                        <li>Адрес электронной почты: {{ wallet.user.email }}</li>
                        <li>Баланс: {{ wallet.balance }} HXZ</li>
                        <li>Дата и время регистрации: {{ wallet.user.date_joined }}</li>
                        <li>ID аккаунта (кошелька): <b>#{{ wallet.id }}</b></li>
                    </ul>
                    <h1>Информация о сервисе:</h1>
                    <ul>
                        <li>Всего аккаунтов: {{ wallet_list|length }}</li>
                        {% if total_sum %}
                            <li>Общий баланс: {{ total_sum|floatformat }} HXZ</li>
                        {% else %}
                            <li>Общий баланс: 0.0 HXZ</li>
                        {% endif %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <h2>Здравствуй, гость!</h2>
        <div class="textboxrighttext">
            <h1>Информация об аккаунте:</h1>
            <p>Вы не вошли в свой аккаунт на этом сайте! Пожалуйста, <a title="Войти" href="{% url 'account_login' %}">войдите</a>
                или <a title="Регистрация" href="{% url 'account_signup' %}">зарегистрируйтесь</a>.</p>
            <h1>Информация о сервисе:</h1>
            <ul>
                <li>Всего аккаунтов: {{ wallet_list|length }}</li>
                {% if total_sum %}
                    <li>Общий баланс: {{ total_sum|floatformat }} HXZ</li>
                {% else %}
                    <li>Общий баланс: 0.0 HXZ</li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock sidetext %}
{% block content %}
    <h1>Список пользователей</h1>
    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>Имя пользователя</th>
            <th>Баланс</th>
        </tr>
        {% for wallet in wallet_list %}
            <tr>
                <td>{{ wallet.id }}</td>
                <td>{{ wallet.user.username }}</td>
                <td>{{ wallet.balance }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}