{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HEXYZ - {% block title %}Unknown page{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="wrapper">
    <header>
        <div id="top">
            <img src="../static/images/logo-small.png" alt="" align="right" border="0" width="256" height="128">
        </div>
        <div class="toptext">HEXYZ Coin WebSite</div>
        <div class="toptextsub">Simple bank of virtual money</div>
        <div class="clear">&nbsp;</div>
        <div id="navilist">
            <div class="listnavi">
                <a href="https://github.com/hilight3r">Author's GitHub</a>
                <a href="https://www.sololearn.com/Profile/11054600">Author's SoloLearn</a>
                <a href="https://github.com/hilight3r/HEXYZ">This project on GitHub</a>
            </div>
        </div>
    </header>

    <div class="clear">&nbsp;</div>

    <main>

        <nav>
            <h2>Navigation</h2>
            <ul>
                <li><a title="Home" href="/">Home</a></li>
            </ul>
        </nav>

        <aside>
            <h2>Pagetext</h2>

            <div class="textboxrighttext">
                {% block sidebar %}
                    <h1 align="center">There are no content in this element...</h1>
                {% endblock sidebar %}
            </div>
        </aside>
        <article>
            {% block content %}
                <h1 align="center">There are no content on this page...</h1>
            {% endblock content %}
        </article>
    </main>
    <div class="clear">&nbsp;</div>
    <footer>
        <b>&copy; HIlight3R 2020</b>
    </footer>
    <div class="clear">&nbsp;</div>
</div>
</body>
</html>